
.main-marquee {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: -99;
    /* transform: rotate(45deg); */
    -webkit-user-select: none;
}

.marquee {
    position: flex;
    min-width: 100%;
    top: 0;
    font-size: 0
}

.marquee-cont {
    color: rgba(0, 0, 0, 0.192);
    display: inline-block;
    font-size: 50px;
    margin-right: .5rem;
}

#start-window {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
    width: 60%;
    background-color: grey;
    z-index: 5;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grid {
    margin: 2% auto;
    height: 50vh;
    min-height: 400px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat(3, .5fr);
    gap: 2%;
    background-color: #ffffff;
    box-shadow: 0 0 50px 50px #ffffff;
}

.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px #ffffff;
    -webkit-user-select: none;
    z-index: 2;
}

#timer {
    margin-top: 5%;
    z-index: 2;
}

.add-tag {
    position: absolute;
    overflow: hidden;
    transform: translateY(20%);
    z-index: -1;
    -webkit-user-select: none;
}
