:root {
    --blur: 2px;
}



#game :not(.sw) {
    filter: blur(var(--blur));

}

body {
   background-color: #222;
   overflow: hidden;
}

#bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -10;
}

.main-marquee {
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
}

.marquee {
    font-size: 0;
    height: 50vh;
    
}

.marquee-cont {
    color: rgba(0, 0, 0, 0.087);
    display: inline-block;
    font-size: 40vh;
    margin-right: .5rem;
    line-height: 50vh;
}

.main-marquee2 {
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
}

.marquee2 {
    font-size: 0;
    height: 50vh;
}

.marquee-cont2 {
    color: rgba(0, 0, 0, 0.087);
    display: inline-block;
    font-size: 40vh;
    margin-right: .5rem;
    line-height: 50vh;
}

#start-window {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
    width: 60%;
    background-color: grey;
    z-index: 10;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grid {
    margin: 2% auto;
    height: 50vh;
    min-height: 400px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat(3, .5fr);
    gap: 2%;
    background-color: #222;
    box-shadow: 0 0 50px 50px #222;
}

.stretch {
    writing-mode:vertical-rl;
    left: 45%;
    line-height: 1rem;
    transform:scale(8.5,2.5);
    justify-content: center;
    color: #bbb;
    
}

.square {
    position: relative;
    display: flex;
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    z-index: 6;
}

.square1 {
    position: absolute;
    display: flex;
    padding: 0 5.5rem;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    z-index: 5;
    color: #222;
    background-color: #222;
    box-shadow: 0 0 20px 20px #222;
}

#timer {
    margin-top: 5%;
    background-color: #222;
    color: #bbb;
    box-shadow: 0 0 20px 20px #222;
    z-index: 2;
}

#score {
    margin-top: 1rem;
    color: #bbb;
    background-color: #222;
    box-shadow: 0 0 20px 20px #222;
}

.add-tag {
    position: absolute;
    color: #bbb;
    z-index: -1;
    -webkit-user-select: none;
}

.hole {
    z-index: 1;
}