:root {
    --blur: 2px;
}



body :not(.sw) {
    filter: blur(var(--blur));
}
 body {
    background-color: aqua;
 }
.main-marquee {
    position: flex;
    overflow: hidden;
    white-space: nowrap;
    z-index: -10;
    /* transform: rotate(45deg); */
    -webkit-user-select: none;
}

.marquee {
    font-size: 0;
}

.marquee-cont {
    color: rgba(0, 0, 0, 0.087);
    display: inline-block;
    font-size: 50px;
    margin-right: .5rem;
}

#start-window {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
    width: 60%;
    background-color: grey;
    box-shadow: 0 0 100px 100px #00000045;
    z-index: 10;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grid {
    margin: 2% auto;
    height: 50vh;
    min-height: 400px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat(3, .5fr);
    gap: 2%;
    background-color: #ffffff;
    box-shadow: 0 0 50px 50px #ffffff;
}

.stretch {
    writing-mode:vertical-rl;
    left: 45%;
    line-height: 1rem;
    transform:scale(8.5,2.5);
    justify-content: center;
    
}

.square {
    position: relative;
    display: flex;
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    z-index: 6;
}

.square1 {
    position: absolute;
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    z-index: 5;
    color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 20px 20px #ffffff;
}

#timer {
    margin-top: 5%;
    background-color: #ffffff;
    box-shadow: 0 0 20px 20px #ffffff;
    z-index: 2;
}

#score {
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 20px 20px #ffffff;
}

.add-tag {
    position: absolute;
    z-index: -1;
    -webkit-user-select: none;
}

.hole {
    z-index: 1;
}